
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .Raw {
            display: flex;
            margin: 50px auto;
            justify-content: space-between;
            width: 80%;
            /* border: thin solid black; */
            /* align-items: center; */
            /* margin-top: 60px; */
            /* padding-left: 90px; */

        }

        h1 {
            font-size: 4rem;
            margin-bottom: 10px;
            line-height: 1;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .rawpan {
            /* line-height: ; */
            width: 50%;
            /* border: thin solid red; */
            padding: 20px;
        }

        .rawimg {
            width: 50%;
            /* border: thin solid black; */
            /* line-height: 2; */
        }

        .rawimg img {
            width: 480px;

        }

        button {
            padding: 20px 30px;
            background-color: blue;
            border: 0;
            color: white;
            border-radius: 12px;

        }

        p {
            margin-block: 30px;
            font-size: 1.2rem;
        }

        .thediv {
            display: flex;
            margin-left: 40px;
            /* border: thin solid black; */
            margin-top: 30px;
            gap: 50px;
            justify-content: space-between;
            
        }

        .thediv img {
            width: 100%;
            height: 350px;
            filter: grayscale();
            row-gap: 20px;
            justify-content: space-between;
            margin-inline: auto;
        }

        .thediv h3 {
            color: rgb(0, 14, 84);
        }

        .thediv p {
            font-size: 14px;
            line-height: 30.1px;
        }

        .start {
            color: rgb(0, 14, 84);
            font-size: 52px;
            margin-left: 28px;
        }

        .thediv a {

            text-underline-offset: 20px;
            /* text-decoration: underline; */
         }

         .bigcontainer {
            display: flex;
            align-items: center;
            justify-items: center;
            justify-content: space-between;
            width: 100%;
            gap: 50px;
            margin-top: 50px;
            border: thin solid black;
            /* align-items: center; */
            /* text-align: center; */
            height: 100%;
            justify-content: center;
            background:linear-gradient(to right, rgba(60, 34, 60, 0.267) , rgb(3, 6, 54)),url(./DSC_9054-scaled.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
         }

         .wave {
            width: 50%;
            /* height: 50%; */
            color: aliceblue;
            margin-top: 30px;
         }

         .wave h2 {
            margin-top: 60px;
            font-weight: bold;
            font-size: 50px;
        
         }

        .mybtn {
            border-radius: 30px;
        }
       

        





        @media (max-width: 980px) {
            /* section one */
             .Raw {
            width: 80%;
            /* border: thin solid black; */
            flex-direction: column;
        }

          .rawpan {
           
            width: 100%;
          
        }

        .rawimg {
            width: 100%;
        
        }

         .thediv {
                width: 80%;
            flex-direction: column;
            }

             .thediv img {
           
            width: 100%;
          
        }

        .thediv h3 {
            width: 100%;
        
        }
        .thediv p {
            font-size: 10px;
        }

            .bigcontainer{
                width: 80%;
                flex-direction: column;
                margin: auto;
            }

            .wave {
                width: 100%;
                
            }
            .wave1 {
                width: 100%;
            }

        }
        @media (max-width:605px) {
            .rawimg img {
            width: 100%;

        }
         h1 {
            font-size: 3rem;
            
        }
        iframe{
            width: 80%;
            display: block;
            margin: auto;
        }

        }

      @media (max-width :577px) {
            .wave p{
                font-size: 1rem;
            }
            .wave{
                padding: 20px;
            }
        }

        
